name: Populate Walks Database

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  annotate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: npm install

      - run: npx tsx workflows/populate-walks-database/index.js
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          WALKS_DATABASE_ID: ${{ secrets.WALKS_DATABASE_ID }}
          HOME_LOCATION: ${{ secrets.HOME_LOCATION }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
